*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    width: 100px;
    padding: 20px;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    width: 80%;
    text-align: center;
    background-color: rgb(238, 235, 235);
    padding: 20px;
    margin-top: 20px;
   
}

#container-1, #container-2{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
}

h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

span{
    color: blue;
}